body {
    background-color: #fefae0;
  }
  
  .header {
    width: 100%;
    height: 12vh;
    background-color: #d4a373;
    display: flex;
    justify-content: center;
  }
  
  .header h1 {
    margin-top: 6vh;
    display: inline-block;
    font-family: 'FONZ', sans-serif;
  }
  
  .links-div {
    width: 100%;
    background-color: #d4a373;
    text-align: left;
  }
  
  .links-div h2 {
    display: inline-block;
    font-size: 1.3rem; /* Changed 'size' to 'font-size' */
    margin-right: 3%;
    padding-left: 3%;
    font-family: 'FONZ', sans-serif;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly in two columns */
    width: 45%; /* Adjusted width for a two-column layout */
  }
  
  .flex-item {
    flex: 0 0 calc(50% - 20px); /* Set fixed width for two columns with padding */
    padding: 10px;
    border: 1px solid #fb8500;
    border-radius: 30px;
    margin: 5px;
    text-align: left;
    background-color: #f4a261;
    font-family: 'FONZ', sans-serif;
    display: inline-block;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .parent_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .form {
    padding: 10px;
    margin: 5px;
    text-align: center;
    display: block;
  }
  
  #textInput {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #dda15e;
  }
  
  .submitButton {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #dda15e;
    background-color: white;
  }
  



